.member {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    @include at-least ($mobile) {
        align-items: flex-end;
        flex-direction: row;
    }

    &.alt {
        @include at-least ($mobile) {
            flex-direction: row-reverse;
        }

        .member-image {
            padding-right: 0;
            padding-left: 20px;
        }
    }

    &:first-of-type {
        margin-top: 60px;
    }

    .member-image {
        padding-right: 20px;

        img {
            max-width: 176px;
        }
    }

    .member-info {
        background-color: rgba(0, 0, 0, 0.8);
        max-width: 100%;
        padding: 30px;
        color: $white;
        box-shadow: 0 10px 6px -6px #777;

        @include at-least ($mobile) {
            width: 100%;
        }

        .email {
            display: inline-block;
            padding-bottom: 20px;

            a {
                color: $white;
                text-decoration: underline;
            }
        }
    }
}
